In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

In [8]:
    df = pd.read_csv("data.csv", delimiter='\t')
    df

,Возраст(лет),Количество иждивенцев,Доход,Срок проживания в регионе,Оценка автомобиля заемщика,Размер кредита(тыс. руб.)
0,37.0,1.0,7400.0,9.0,7000.0,70000.0
1,45.0,3.0,33100.0,12.0,34000.0,337000.0
2,NaN,1.0,18700.0,5.0,17000.0,176000.0
3,39.0,2.0,29100.0,9.0,29000.0,289000.0
4,33.0,1.0,11400.0,6.0,10000.0,104000.0
5,28.0,1.0,20100.0,NaN,18000.0,184000.0
6,47.0,NaN,4400.0,15.0,6000.0,55000.0
7,36.0,2.0,30500.0,7.0,NaN,299000.0
8,45.0,3.0,32300.0,12.0,33000.0,330000.0
9,39.0,2.0,25900.0,9.0,26000.0,NaN
10,39.0,2.0,30100.0,9.0,30000.0,300000.0
11,38.0,2.0,38600.0,8.0,38000.0,382000.0
12,NaN,2.0,10800.0,10.0,11000.0,109000.0
13,36.0,2.0,32500.0,7.0,32000.0,319000.0
14,21.0,3.0,8200.0,11.0,48000.0,250000.0
15,54.0,4.0,21700.0,19.0,25000.0,236000.0
16,38.0,2.0,19600.0,9.0,19000.0,193000.0
17,46.0,NaN,16000.0,14.0,17000.0,168000.0
18,56.0,4.0,20700.0,20.0,24000.0,229000.0
19,46.0,3.0,35400.0,13.0,37000.0,362000.0
20,44.0,3.0,NaN,12.0,37000.0,371000.0
21,19.0,0.0,17600.0,0.0,13000.0,146000.0
22,43.0,3.0,32900.0,11.0,33000.0,333000.0
23,31.0,0.0,6900.0,5.0,NaN,57000.0
24,29.0,1.0,20300.0,3.0,18000.0,188000.0
25,40.0,2.0,24900.0,10.0,25000.0,249000.0
26,43.0,2.0,18900.0,12.0,20000.0,NaN
27,36.0,2.0,25300.0,7.0,24000.0,247000.0
28,42.0,3.0,27400.0,NaN,28000.0,277000.0
29,27.0,0.0,16900.0,2.0,14000.0,151000.0
30,30.0,1.0,27000.0,4.0,25000.0,257000.0
31,44.0,2.0,2000.0,14.0,0.0,3000.0
32,33.0,2.0,31200.0,5.0,30000.0,303000.0
33,53.0,4.0,20000.0,18.0,23000.0,217000.0
34,28.0,1.0,NaN,3.0,15000.0,158000.0
35,33.0,1.0,28400.0,6.0,27000.0,275000.0
36,38.0,1.0,7900.0,10.0,8000.0,77000.0
37,43.0,2.0,7900.0,13.0,9000.0,84000.0
38,46.0,NaN,12400.0,14.0,14000.0,133000.0
39,35.0,2.0,30300.0,7.0,29000.0,297000.0
40,48.0,2.0,6900.0,15.0,9000.0,80000.0
41,19.0,2.0,8000.0,12.0,50000.0,200000.0
42,45.0,2.0,9800.0,14.0,NaN,106000.0
43,NaN,2.0,7400.0,10.0,7000.0,74000.0
44,32.0,1.0,19600.0,5.0,18000.0,184000.0
45,43.0,2.0,4100.0,NaN,5000.0,45000.0
46,46.0,3.0,29800.0,13.0,31000.0,306000.0
47,59.0,4.0,NaN,22.0,23000.0,216000.0
48,42.0,2.0,9900.0,12.0,10000.0,102000.0
49,53.0,4.0,23500.0,18.0,26000.0,NaN
50,36.0,1.0,12400.0,8.0,12000.0,119000.0
51,43.0,2.0,9800.0,13.0,11000.0,103000.0

In [10]:
# Преобразование всех строковых столбцов, если они содержат числовые значения в виде строк
for column in df.columns:
    if df[column].dtype == object:
        df[column] = pd.to_numeric(df[column], errors='coerce')
df

,Возраст(лет),Количество иждивенцев,Доход,Срок проживания в регионе,Оценка автомобиля заемщика,Размер кредита(тыс. руб.)
0,37.0,1.0,7400.0,9.0,7000.0,70000.0
1,45.0,3.0,33100.0,12.0,34000.0,337000.0
2,NaN,1.0,18700.0,5.0,17000.0,176000.0
3,39.0,2.0,29100.0,9.0,29000.0,289000.0
4,33.0,1.0,11400.0,6.0,10000.0,104000.0
5,28.0,1.0,20100.0,NaN,18000.0,184000.0
6,47.0,NaN,4400.0,15.0,6000.0,55000.0
7,36.0,2.0,30500.0,7.0,NaN,299000.0
8,45.0,3.0,32300.0,12.0,33000.0,330000.0
9,39.0,2.0,25900.0,9.0,26000.0,NaN
10,39.0,2.0,30100.0,9.0,30000.0,300000.0
11,38.0,2.0,38600.0,8.0,38000.0,382000.0
12,NaN,2.0,10800.0,10.0,11000.0,109000.0
13,36.0,2.0,32500.0,7.0,32000.0,319000.0
14,21.0,3.0,8200.0,11.0,48000.0,250000.0
15,54.0,4.0,21700.0,19.0,25000.0,236000.0
16,38.0,2.0,19600.0,9.0,19000.0,193000.0
17,46.0,NaN,16000.0,14.0,17000.0,168000.0
18,56.0,4.0,20700.0,20.0,24000.0,229000.0
19,46.0,3.0,35400.0,13.0,37000.0,362000.0
20,44.0,3.0,NaN,12.0,37000.0,371000.0
21,19.0,0.0,17600.0,0.0,13000.0,146000.0
22,43.0,3.0,32900.0,11.0,33000.0,333000.0
23,31.0,0.0,6900.0,5.0,NaN,57000.0
24,29.0,1.0,20300.0,3.0,18000.0,188000.0
25,40.0,2.0,24900.0,10.0,25000.0,249000.0
26,43.0,2.0,18900.0,12.0,20000.0,NaN
27,36.0,2.0,25300.0,7.0,24000.0,247000.0
28,42.0,3.0,27400.0,NaN,28000.0,277000.0
29,27.0,0.0,16900.0,2.0,14000.0,151000.0
30,30.0,1.0,27000.0,4.0,25000.0,257000.0
31,44.0,2.0,2000.0,14.0,0.0,3000.0
32,33.0,2.0,31200.0,5.0,30000.0,303000.0
33,53.0,4.0,20000.0,18.0,23000.0,217000.0
34,28.0,1.0,NaN,3.0,15000.0,158000.0
35,33.0,1.0,28400.0,6.0,27000.0,275000.0
36,38.0,1.0,7900.0,10.0,8000.0,77000.0
37,43.0,2.0,7900.0,13.0,9000.0,84000.0
38,46.0,NaN,12400.0,14.0,14000.0,133000.0
39,35.0,2.0,30300.0,7.0,29000.0,297000.0
40,48.0,2.0,6900.0,15.0,9000.0,80000.0
41,19.0,2.0,8000.0,12.0,50000.0,200000.0
42,45.0,2.0,9800.0,14.0,NaN,106000.0
43,NaN,2.0,7400.0,10.0,7000.0,74000.0
44,32.0,1.0,19600.0,5.0,18000.0,184000.0
45,43.0,2.0,4100.0,NaN,5000.0,45000.0
46,46.0,3.0,29800.0,13.0,31000.0,306000.0
47,59.0,4.0,NaN,22.0,23000.0,216000.0
48,42.0,2.0,9900.0,12.0,10000.0,102000.0
49,53.0,4.0,23500.0,18.0,26000.0,NaN
50,36.0,1.0,12400.0,8.0,12000.0,119000.0
51,43.0,2.0,9800.0,13.0,11000.0,103000.0

In [11]:
# Среднее значение по каждому столбцу
# Параметр skipna=True игнорирует NaN значения.
mean_values = df.mean(skipna=True)
mean_values

Возраст(лет)                      39.306122
Количество иждивенцев              2.020408
Доход                          19304.081633
Срок проживания в регионе         10.244898
Оценка автомобиля заемщика     21530.612245
Размер кредита(тыс. руб.)     198979.591837
dtype: float64

In [12]:
# Стандартное отклонение по каждому столбцу
std_values = df.std(skipna=True)
std_values

Возраст(лет)                       8.979616
Количество иждивенцев              1.030570
Доход                           9979.478092
Срок проживания в регионе          4.798136
Оценка автомобиля заемщика     11264.069056
Размер кредита(тыс. руб.)     100571.179146
dtype: float64

In [13]:
# Медиана по каждому столбцу
median_values = df.median(skipna=True)
median_values

Возраст(лет)                      39.0
Количество иждивенцев              2.0
Доход                          19600.0
Срок проживания в регионе         10.0
Оценка автомобиля заемщика     23000.0
Размер кредита(тыс. руб.)     193000.0
dtype: float64

In [14]:
# Расчет квартилей (25%, 50%, 75%)
quantiles = df.quantile([0.25, 0.5, 0.75], interpolation='midpoint')
quantiles

,Возраст(лет),Количество иждивенцев,Доход,Срок проживания в регионе,Оценка автомобиля заемщика,Размер кредита(тыс. руб.)
0.25,33.0,1.0,9800.0,7.0,12000.0,106000.0
0.50,39.0,2.0,19600.0,10.0,23000.0,193000.0
0.75,45.0,3.0,28400.0,13.0,29000.0,289000.0

In [ ]:
# Параметры графиков для более качественного отображения
plt.style.use('seaborn-darkgrid')